 <footer class="l-footer" role="contentinfo">
    <div class="c-footer">
		<div class="c-footer__logoWrap">
			<div class="c-footer__logo">
			  <a class="c-footer__link" href="#" itemprop="url">
				<img class="c-footer_item" src="../img/footer_logo.png" alt="main page" title="" itemprop="logo">
			  </a>
			</div>
		</div>
		<div class="c-footer__container" role="navigation">
			<ul class="c-footer__navigation -cnt1">
				<li class="c-footer__navigation">
					<a class="c-footer__navigation" href="#">About</a>
				</li>
				<li class="c-footer__navigation">
					<a class="c-footer__navigation" href="#">faq</a>
				</li>
				<li class="c-footer__navigation">
					<a class="c-footer__navigation" href="#">blog</a>
				</li>
				<li class="c-footer__navigation">
					<a class="c-footer__navigation" href="#">support</a>
				</li>
				<li class="c-footer__navigation">
					<a class="c-footer__navigation" href="#">help forum</a>
				</li>
				<li class="c-footer__navigation">
					<a class="c-footer__navigation" href="#">fedback</a>
				</li>
				<li class="c-footer__navigation">
					<a class="c-footer__navigation" href="#">lorem ipsum</a>
				</li>
				<li class="c-footer__navigation">
					<a class="c-footer__navigation" href="#">lorem ipsum</a>
				</li>
				<li class="c-footer__navigation">
					<a class="c-footer__navigation" href="#">English</a>
				</li>
			</ul>
		</div>
		<div class="c-footer__links" role="navigation">
			<ul class="c-footer__navigation -cnt2">
				<li class="c-footer__navigation -cnt2">
					<a class="c-footer__navigation -cnt2" href="#">Privacy</a>
				</li>
				<li class="c-footer__navigation -cnt2">
					<a class="c-footer__navigation -cnt2" href="#">Terms</a>
				</li>
				<li class="c-footer__navigation -cnt2">
					<a class="c-footer__navigation -cnt2" href="#">Safely</a>
				</li>
				<li class="c-footer__navigation -cnt2">
					<a class="c-footer__navigation -cnt2" href="#">Help</a>
				</li>
			</ul>
		</div>
		<div class="c-footer__social">
			<ul class="c-footer__socialCnt">
				<li class="c-footer__item">
					<a target="_blank" class="c-footer__link" href="https://www.facebook.com"><i class="fa fa-facebook-square"></i></a>
				</li>
				<li class="c-footer__item">
					<a target="_blank" class="c-footer__link" href="https://twitter.com"><i class="fa fa-twitter"></i></a>
				</li>
				<li class="c-footer__item">
					<a target="_blank" class="c-footer__link" href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
				</li>
			</ul>
		</div>
    </div>
  </footer>