<header class="l-containerHeader role="banner">
	<div class="c-header">
		<div class="c-header__logo">
			<h1 class="c-header__imgLogo">
				<a class="c-header__logoLink" itemprop="url">
				  <img class="c-header__logoIcon" src="img/logo.png" alt="home" title="Poppice" itemprop="logo">
				</a>
			</h1>
		</div>
		<nav id="navWindow" class="l-containerNavigation js-fixedWindow" role="navigation">
			<ul class="c-navigation">
				<li class="c-navigation__item">
					<a class="c-navigation__link" href="#">ABOUT</a>
				</li>
				<li class="c-navigation__item">
					<a class="c-navigation__link" href="#">FAQ</a>
				</li>
				<li class="c-navigation__item">
					<a class="c-navigation__link" href="#">BLOG</a>
				</li>
				<li class="c-navigation__item">
					<a class="c-navigation__link" href="#">SUPPORT</a>
				</li>
				<li class="c-navigation__item">
					<a class="c-navigation__link" href="#">MINI BOOKING</a>
				</li>
			</ul>
		</nav>
	</div>
</header>