<section class="l-offer">
	<div class="c-offer b-wrapper">
		<h2 class="c-offer__title"><p>Lorem ipsum dolor sit amet</p></h2>
		<ul class="c-offer__list">
			<li class="c-offer__item">
				<div class="c-offer__content">
					<div class="c-offer__label c-roomlabel -type_xs"></div>
					<a class="c-offer__img" href="#">
						<img src="../img/xs_image.jpg" alt="XS image">
					</a>
					<div class="c-offer__block">
						<h4 class="c-offer__name">Grand Hotel Stockholm</h4>
						<span class="c-offer__text js-cutText" style="word-wrap: break-word;">Södra Blasieholmshamnen 8</span>
						<span class="c-offer__descr">Stockholm • Minst 8m<sup>2</sup></span>
					</div>
					<div class="c-offer__block">
						<span class="c-offer__price">250 kr</span>
						<span class="c-offer__note">1 timme</span>
						<a class="c-offer__btn" href="#">Läs mer</a>
					</div>
				</div>
			</li>
			<li class="c-offer__item">
				<div class="c-offer__content">
					<div class="c-offer__label c-roomlabel -type_s"></div>
					<a class="c-offer__img" href="#">
						<img src="../img/s_image.jpg" alt="S image">
					</a>
					<div class="c-offer__block">
						<h4 class="c-offer__name">Grand Hotel Stockholm</h4>
						<span class="c-offer__text js-cutText" style="word-wrap: break-word;">Södra Blasieholmshamnen 8</span>
						<span class="c-offer__descr">Stockholm • Minst 14m<sup>2</sup></span>
					</div>
					<div class="c-offer__block">
						<span class="c-offer__price">250 kr</span>
						<span class="c-offer__note">1 timme</span>
						<a class="c-offer__btn" href="#">Läs mer</a>
					</div>
				</div>
			</li>
			<li class="c-offer__item">
				<div class="c-offer__content">
					<div class="c-offer__label c-roomlabel -type_m"></div>
					<a class="c-offer__img" href="#">
						<img src="../img/m_image.jpg" alt="M image">
					</a>
					<div class="c-offer__block">
						<h4 class="c-offer__name">Grand Hotel Stockholm</h4>
						<span class="c-offer__text js-cutText" style="word-wrap: break-word;">Södra Blasieholmshamnen 8</span>
						<span class="c-offer__descr">Stockholm • Minst 20m<sup>2</sup></span>
					</div>
					<div class="c-offer__block">
						<span class="c-offer__price">250 kr</span>
						<span class="c-offer__note">1 timme</span>
						<a class="c-offer__btn" href="#">Läs mer</a>
					</div>
				</div>
			</li>
			<li class="c-offer__item">
				<div class="c-offer__content">
					<div class="c-offer__label c-roomlabel -type_l"></div>
					<a class="c-offer__img" href="#">
						<img src="../img/l_image.jpg" alt="L image">
					</a>
					<div class="c-offer__block">
						<h4 class="c-offer__name">Grand Hotel Stockholm</h4>
						<span class="c-offer__text js-cutText" style="word-wrap: break-word;">Södra Blasieholmshamnen 8</span>
						<span class="c-offer__descr">Stockholm • Minst 28m<sup>2</sup></span>
					</div>
					<div class="c-offer__block">
						<span class="c-offer__price">250 kr</span>
						<span class="c-offer__note">1 timme</span>
						<a class="c-offer__btn" href="#">Läs mer</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>