<section class="l-presentation">
			<div class="c-prsentationCarousel">
				<ul class="c-prsentationCarousel__wrap js-prsentationCarousel__wrap">
					<li class="c-prsentationCarousel__item">
						<h2 class="c-prsentationCarousel__title">presentation</h2>
						<div class="c-prsentationCarousel__content">
							<div class="c-prsentationCarousel__img_wrap"><img src="img/presentation.png" alt="" class="c-prsentationCarousel__img"></div>
							<div class="c-prsentationCarousel__text_wrap">
								<h3 class="title"><b>Lorem ipsum dolor</b><br></h3>
								<p>
									Lorem ipsum dolor sit amet, consectetuer eget, pellentesque non ultricies. 
									Nulla dolor, mauris elementum sed. Facilisi purus metus non, metus maecenas, felis at arcu. 
									Eleifend duis venenatis nunc, id vitae integer est in interdum felis, eos et nibh dictum vel.
								</p>
							</div>
						</div>
					</li>
					<li class="c-prsentationCarousel__item">
						<h2 class="c-prsentationCarousel__title">presentation</h2>
						<div class="c-prsentationCarousel__content">
							<div class="c-prsentationCarousel__img_wrap"><img src="img/presentation.png" alt="" class="c-prsentationCarousel__img"></div>
							<div class="c-prsentationCarousel__text_wrap">
								<h3 class="title"><b>Lorem ipsum dolor</b><br></h3>
								<p>
									Lorem ipsum dolor sit amet, consectetuer eget, pellentesque non ultricies. 
									Nulla dolor, mauris elementum sed. Facilisi purus metus non, metus maecenas, felis at arcu. 
									Eleifend duis venenatis nunc, id vitae integer est in interdum felis, eos et nibh dictum vel.
								</p>
							</div>
						</div>
					</li>
					<li class="c-prsentationCarousel__item">
						<h2 class="c-prsentationCarousel__title">presentation</h2>
						<div class="c-prsentationCarousel__content">
							<div class="c-prsentationCarousel__img_wrap"><img src="img/presentation.png" alt="" class="c-prsentationCarousel__img"></div>
							<div class="c-prsentationCarousel__text_wrap">
								<h3 class="title"><b>Lorem ipsum dolor</b><br></h3>
								<p>
									Lorem ipsum dolor sit amet, consectetuer eget, pellentesque non ultricies. 
									Nulla dolor, mauris elementum sed. Facilisi purus metus non, metus maecenas, felis at arcu. 
									Eleifend duis venenatis nunc, id vitae integer est in interdum felis, eos et nibh dictum vel.
								</p>
							</div>
						</div>
					</li>
					<li class="c-prsentationCarousel__item">
						<h2 class="c-prsentationCarousel__title">presentation</h2>
						<div class="c-prsentationCarousel__content">
							<div class="c-prsentationCarousel__img_wrap"><img src="img/presentation.png" alt="" class="c-prsentationCarousel__img"></div>
							<div class="c-prsentationCarousel__text_wrap">
								<h3 class="title"><b>Lorem ipsum dolor</b><br></h3>
								<p>
									Lorem ipsum dolor sit amet, consectetuer eget, pellentesque non ultricies. 
									Nulla dolor, mauris elementum sed. Facilisi purus metus non, metus maecenas, felis at arcu. 
									Eleifend duis venenatis nunc, id vitae integer est in interdum felis, eos et nibh dictum vel.
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="c-presentationBottom">
				<div class="c-presentation c-wrapper">
					<div class="c-presentation__progress">
						<div class="c-presentation__progressbar js-presentationProgressbar"></div>
					</div>
					<ul class="c-presentation__pager js-presentationPager">
						<li class="c-presentation__item js-presentation__xs">
							<span class="c-presentation__name">x-small</span>
							<span class="c-presentation__descr">2-4 person</span>
						</li> 
						<li class="c-presentation__item js-presentation__s">
							<span class="c-presentation__name">small</span>
							<span class="c-presentation__descr">5-8 personer</span>
						</li> 
						<li class="c-presentation__item js-presentation__m">
							<span class="c-presentation__name">medium</span>
							<span class="c-presentation__descr">9-12 personer</span>
						</li>
						<li class="c-presentation__item js-presentation__l">
							<span class="c-presentation__name">large</span>
							<span class="c-presentation__descr">13-20 personer</span>
						</li>
					</ul>
				</div>
			</div>
		</section>