<section class="l-promo">
	<ul class="c-promoSlider" id="promoSlider">
		<li class="c-promoSlider__item"></li>
		<li class="c-promoSlider__item"></li>
		<li class="c-promoSlider__item"></li>
		<li class="c-promoSlider__item"></li>
		<li class="c-promoSlider__item"></li>
		<li class="c-promoSlider__item"></li>
		<li class="c-promoSlider__item"></li>
	</ul>
	<div class="c-promoContent c-wrapper">
		<h1 class="c-promoContent__title">
			<p>Lorem ipsum dolor</p>
		</h1>
		<h2 class="c-promoContent__subtitle">
			<p>
				<span>Find and book conference rooms, workspace and pop-up offices</span>
			</p>
		</h2>
		<div class="c-promoContent__form">
			<div class="c-promoContent__formTabs">
				<div class="c-promoContent__tabsContent">
					<div class="">
						<form method="get" action="" class="c-promoContent__searchForm" novalidate="novalidate">
							<div class="c-promoContent__searchForm -block_1">
								<div class="c-promoContent__address">
									<input type="text" placeholder="Location " required="" aria-required="true" autocomplete="off">
								</div>
								<div class="c-promoContent__date">
									<input type="text" id="js-datepicker1" name="date" value="2017-10-02" placeholder="Date">
								</div>
							</div>
							<div class="c-promoContent__searchForm -block_2">
								<div class="c-promoContent__searchSize">
									<label class="c-promoContent__label" for="_size0" title="XS: 2-4 personer">
										<div id="_size0-styler" class="jq-checkbox checked" unselectable="on">
											<input type="checkbox" id="_size0" name="size[]" value="xs">
											<div class="jq-checkbox__div"></div>
										</div>XS
										<sub>2-4 personer</sub>
									</label>
									<label class="c-promoContent__label" for="_size1" title="S: 5-8 personer">
										<div id="_size1-styler" class="jq-checkbox" unselectable="on">
											<input type="checkbox" id="_size1" name="size[]" value="s">
											<div class="jq-checkbox__div"></div>
										</div>S
										<sub>5-8 personer</sub>
									</label>
									<label class="c-promoContent__label" for="_size2" title="M: 9-12 personer">
										<div id="_size2-styler" class="jq-checkbox" unselectable="on">
											<input type="checkbox" id="_size2" name="size[]" value="m">
											<div class="jq-checkbox__div"></div>
										</div> M
										<sub>9-12 personer</sub>
									</label>
									<label class="c-promoContent__label" for="_size3" title="L: 13-20 personer">
										<div id="_size3-styler" class="jq-checkbox" unselectable="on">
											<input type="checkbox" id="_size3" name="size[]" value="l">
											<div class="jq-checkbox__div"></div>
										</div> L
										<sub>13-20 personer</sub>
									</label>
									<label class="c-promoContent__label" for="_size4" title="Alla:  personer">
										<div id="_size4-styler" class="jq-checkbox checked" unselectable="on">
											<input type="checkbox" id="_size4" name="size[]" value="all" checked="checked">
											<div class="jq-checkbox__div"></div>
										</div> Alla  		  	
									</label>
								</div>
								<div class="c-promoContent__search">
									<input class="c-promoContent__submit" type="submit" name="search" value="sök">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="c-promoContent__more">For bigger quotes 
			<a href="#">contact us</a>.
		</div>
		<a class="c-promoContent__button js-smoothScroll" href="#">How it works</a>
	</div>
</section>
