<section class="slider">
	<div id="slider_img" class="slider_wrap">
		<h2 class="slider_title">Testimonials</h2>
		<ul class="sliderItems_container">
			<li class="item">
				<div class="content">
					<div class="text">
						<p></p>
					</div>
					<div class="author">
						<img class="photo" src=""/>
						<span class="name"></span>
						<figcaption class="description"></figcaption>
					</div>
				</div>
			</li>
			<li class="item">
				<div class="content">
					<div class="text">
						<p></p>
					</div>
					<div class="author">
						<img class="photo" src=""/>
						<span class="name"></span>
						<figcaption class="description"></figcaption>
					</div>
				</div>
			</li>
			<li class="item">
				<div class="content">
					<div class="text">
						<p></p>
					</div>
					<div class="author">
						<img class="photo" src=""/>
						<span class="name"></span>
						<figcaption class="description"></figcaption>
					</div>
				</div>
			</li>
			<!-- <li class="item"> -->
				<!-- <div class="content"> -->
					<!-- <div class="text"> -->
						<!-- <p></p> -->
					<!-- </div> -->
					<!-- <div class="author"> -->
						<!-- <img class="photo" src=""/> -->
						<!-- <span class="name"></span> -->
						<!-- <figcaption class="description"></figcaption> -->
					<!-- </div> -->
				<!-- </div> -->
			<!-- </li> -->
		</ul>
		<ul class="slider_control">
			<li id="left_arrow" class="item -left"></li>
			<li id="right_arrow" class="item -right"></li>
		</ul>
	</div>
</section>