<section class="l-testimonials">
	<div class="c-testimonials c-wrap">
		<h2 class="c-testimonials__title">lorem ipsum</h2>
		<div class="c-testimonialsSlider__wrap">
			<ul class="c-testimonialsSlider js-testimonials__wrap">
				<li class="c-testimonialsSlider__item">
					<div class="c-testimonialsSlider__content">
						<div class="c-testimonialsSlider__text">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Aliquet porttitor lacus luctus accumsan tortor posuere ac. 
								Id velit ut tortor pretium. Cursus risus at ultrices mi tempus imperdiet.
								Eu consequat ac felis donec.
							</p>
						</div>
						<div class="c-testimonialsSlider__author">
							<img class="c-testimonialsSlider__photo" src="img/person1.png" alt="">
							<span class="c-testimonialsSlider__name">lorem ipsum1</span>
						</div>
					</div>
				</li>
				<li class="c-testimonialsSlider__item">
					<div class="c-testimonialsSlider__content">
						<div class="c-testimonialsSlider__text">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Aliquet porttitor lacus luctus accumsan tortor posuere ac. 
								Id velit ut tortor pretium. Cursus risus at ultrices mi tempus imperdiet.
								Eu consequat ac felis donec.
							</p>
						</div>
						<div class="c-testimonialsSlider__author">
							<img class="c-testimonialsSlider__photo" src="img/person1.png" alt="">
							<span class="c-testimonialsSlider__name">lorem ipsum2</span>
						</div>
					</div>
				</li>
				<li class="c-testimonialsSlider__item">
					<div class="c-testimonialsSlider__content">
						<div class="c-testimonialsSlider__text">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Aliquet porttitor lacus luctus accumsan tortor posuere ac. 
								Id velit ut tortor pretium. Cursus risus at ultrices mi tempus imperdiet.
								Eu consequat ac felis donec.
							</p>
						</div>
						<div class="c-testimonialsSlider__author">
							<img class="c-testimonialsSlider__photo" src="img/person1.png" alt="">
							<span class="c-testimonialsSlider__name">lorem ipsum3</span>
						</div>
					</div>
				</li>
				<li class="c-testimonialsSlider__item">
					<div class="c-testimonialsSlider__content">
						<div class="c-testimonialsSlider__text">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Aliquet porttitor lacus luctus accumsan tortor posuere ac. 
								Id velit ut tortor pretium. Cursus risus at ultrices mi tempus imperdiet.
								Eu consequat ac felis donec.
							</p>
						</div>
						<div class="c-testimonialsSlider__author">
							<img class="c-testimonialsSlider__photo" src="img/person1.png" alt="">
							<span class="c-testimonialsSlider__name">lorem ipsum4</span>
						</div>
					</div>
				</li>
				<li class="c-testimonialsSlider__item">
					<div class="c-testimonialsSlider__content">
						<div class="c-testimonialsSlider__text">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Aliquet porttitor lacus luctus accumsan tortor posuere ac. 
								Id velit ut tortor pretium. Cursus risus at ultrices mi tempus imperdiet.
								Eu consequat ac felis donec.
							</p>
						</div>
						<div class="c-testimonialsSlider__author">
							<img class="c-testimonialsSlider__photo" src="img/person1.png" alt="">
							<span class="c-testimonialsSlider__name">lorem ipsum5</span>
						</div>
					</div>
				</li>
				<li class="c-testimonialsSlider__item">
					<div class="c-testimonialsSlider__content">
						<div class="c-testimonialsSlider__text">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Aliquet porttitor lacus luctus accumsan tortor posuere ac. 
								Id velit ut tortor pretium. Cursus risus at ultrices mi tempus imperdiet.
								Eu consequat ac felis donec.
							</p>
						</div>
						<div class="c-testimonialsSlider__author">
							<img class="c-testimonialsSlider__photo" src="img/person1.png" alt="">
							<span class="c-testimonialsSlider__name">lorem ipsum6</span>
						</div>
					</div>
				</li>
				<li class="c-testimonialsSlider__item">
					<div class="c-testimonialsSlider__content">
						<div class="c-testimonialsSlider__text">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Aliquet porttitor lacus luctus accumsan tortor posuere ac. 
								Id velit ut tortor pretium. Cursus risus at ultrices mi tempus imperdiet.
								Eu consequat ac felis donec.
							</p>
						</div>
						<div class="c-testimonialsSlider__author">
							<img class="c-testimonialsSlider__photo" src="img/person1.png" alt="">
							<span class="c-testimonialsSlider__name">lorem ipsum7</span>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<ul class="c-testimonialsControl">
			<li class="c-testimonialsControl__item -type_prev js-testiminials__prev"></li>
			<li class="c-testimonialsControl__item -type_next js-testiminials__next"></li>
		</ul>
	</div>
<section>